<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Sign in')}"></head>
<body>
<div class="card login">
  <h1>LaneDesk</h1>
  <div class="flash error" th:if="${param.error}">Wrong username or password.</div>
  <div class="flash message" th:if="${param.logout}">Signed out.</div>
  <form method="post" th:action="@{/login}">
    <label>Username</label><input name="username" autofocus required style="width:100%">
    <label style="margin-top:10px">Password</label><input name="password" type="password" required style="width:100%">
    <p><button class="primary" type="submit" style="width:100%">Sign in</button></p>
  </form>
</div>
</body>
</html>
